/vendor/
/node_modules/
/public/storage
.env
.env.backup
.idea
.phpunit.cache
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/.fleet/
/.vscode/
